<style>
  titlethingy{
    font-family: "Lucida Console";
    color: white;
    font-size: 40px;
    margin-bottom: 30%;
    text-shadow:
       2px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }

  .static_info{

    padding: 10px;

    -webkit-box-shadow: 1px 1px 4px 3px #d1f8fa;
box-shadow: 1px 1px 4px 3px #d1f8fa;

background: rgba(102,102,102,0.69);
background: -moz-linear-gradient(top, rgba(102,102,102,0.69) 0%, rgba(102,102,102,0.65) 0%, rgba(89,89,89,0.65) 12%, rgba(71,71,71,0.65) 18%, rgba(10,10,10,0.65) 33%, rgba(0,0,0,0.65) 46%, rgba(0,0,0,0.65) 58%, rgba(0,0,0,0.65) 72%, rgba(71,71,71,0.65) 85%, rgba(102,102,102,0.65) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,0.69)), color-stop(0%, rgba(102,102,102,0.65)), color-stop(12%, rgba(89,89,89,0.65)), color-stop(18%, rgba(71,71,71,0.65)), color-stop(33%, rgba(10,10,10,0.65)), color-stop(46%, rgba(0,0,0,0.65)), color-stop(58%, rgba(0,0,0,0.65)), color-stop(72%, rgba(0,0,0,0.65)), color-stop(85%, rgba(71,71,71,0.65)), color-stop(100%, rgba(102,102,102,0.65)));
background: -webkit-linear-gradient(top, rgba(102,102,102,0.69) 0%, rgba(102,102,102,0.65) 0%, rgba(89,89,89,0.65) 12%, rgba(71,71,71,0.65) 18%, rgba(10,10,10,0.65) 33%, rgba(0,0,0,0.65) 46%, rgba(0,0,0,0.65) 58%, rgba(0,0,0,0.65) 72%, rgba(71,71,71,0.65) 85%, rgba(102,102,102,0.65) 100%);
background: -o-linear-gradient(top, rgba(102,102,102,0.69) 0%, rgba(102,102,102,0.65) 0%, rgba(89,89,89,0.65) 12%, rgba(71,71,71,0.65) 18%, rgba(10,10,10,0.65) 33%, rgba(0,0,0,0.65) 46%, rgba(0,0,0,0.65) 58%, rgba(0,0,0,0.65) 72%, rgba(71,71,71,0.65) 85%, rgba(102,102,102,0.65) 100%);
background: -ms-linear-gradient(top, rgba(102,102,102,0.69) 0%, rgba(102,102,102,0.65) 0%, rgba(89,89,89,0.65) 12%, rgba(71,71,71,0.65) 18%, rgba(10,10,10,0.65) 33%, rgba(0,0,0,0.65) 46%, rgba(0,0,0,0.65) 58%, rgba(0,0,0,0.65) 72%, rgba(71,71,71,0.65) 85%, rgba(102,102,102,0.65) 100%);
background: linear-gradient(to bottom, rgba(102,102,102,0.69) 0%, rgba(102,102,102,0.65) 0%, rgba(89,89,89,0.65) 12%, rgba(71,71,71,0.65) 18%, rgba(10,10,10,0.65) 33%, rgba(0,0,0,0.65) 46%, rgba(0,0,0,0.65) 58%, rgba(0,0,0,0.65) 72%, rgba(71,71,71,0.65) 85%, rgba(102,102,102,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#666666', GradientType=0 );
  }

p, karyn, conta{


    font-family: "Arial";
    color: white;
    font-size: 24px;
    line-height: 2.0;
    text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}
  hr {
    color: white;
  }


   p{
    text-align: justify;
     font-family: "Arial";
    color: white;
    font-size: 20px;
    line-height: 2.0;
  }

   body{
  background-image: url(/assets/stereo_equalizer.jpg);
  background-position: center;
background-size: 100% 100%;
     background-repeat: no-repeat;
  }
</style>

<% provide(:title, 'Help') %>
<body>
<div class="static_info">
<div class="center hero-unit">

  <br/>
    <titlethingy> Need Help With Im.Pulse? </titlethingy>
<hr>
  <p><b> Uploading A Video: </b></p>
  <br/>
  <p> Go to YouTube.com and go to the page of the video you want. Under the video, go to "Share" and click the 'Embed' tab.  Copy the iframe code, then paste that code into the "YouTube URL" in the video upload form on Im.Pulse.</p>

  <p><b> Editing Your Profile: </b></p>
  <br/>
  <p> <b>Profile Picture:</b>
    <br/>Go to "Edit Profile" under the Account tab.  At the bottom of the "Edit Profile" page is the option to 'Change Picture'.  By clicking on that link, you will be lead to the Gravatar website, which is the service we use to manage the profile pictures for our website.  It helps us ensure picture remain appropriate and community friendly. </p>

    </div>
</div>
</body>
